{% extends 'base.html.twig' %}

{% block title %}Liste livres{% endblock %}

{% block body %}
<div class="row text-center mt-5">
    <h2>Liste livres</h2>
</div>
<div class="row">
    <table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Auteur</th>
            <th scope="col">Pages</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
            <tr>
                <th scope="row">{{book.id}}</th>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.pages}}</td>
                <td>{{book.datePublished|date("d-m-Y")}}</td>
            </tr>
        {% endfor %}

    </tbody>
    </table>
</div>
{% endblock %}