{% extends 'base.html.twig' %}

{% block title %}Ajouter un livre{% endblock %}

{% block body %}
    <div class="row text-center mt-4">
        <h2>Ajout un livre</h2>
    </div>
    <div class="row">
        {{ form_start(formBook) }}


        <div style="background-color:red;">
            {{form_label(formBook.title)}}
            {{form_widget(formBook.title)}}
            {{form_errors(formBook.title)}}
        </div>  

        <div  style="background-color:blue;">
            <label for="{{ field_name(formBook.author) }}">Auteur d livre</label>
            <input type="text" id="{{ field_name(formBook.author) }}" name="{{ field_name(formBook.author) }}" >
        </div>



      
        


        {{ form_end(formBook) }}
    </div>
{% endblock %}
